extends layout.pug

block subtitle
    |#{subtitle}

block content
    p Hi #{name},
    | Thank you for expressing an interest in #{product}. Here is a copy of your enquiry that has been forwarded to the team.
    p Product: #{product}
    p Organisation: #{organisation}
    p Message: #{message}